@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* reset page */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global */
:root {
  --primary_n: #7f8cff;
  --primary_b: #6070ff;
  --neutral_n: #344563;
  --neutral_b: #172b4d;
}

* a {
  text-decoration: none;
  color: inherit;
}

* ul li {
  list-style-type: none;
}

body {
  /* width: 100%; */
  font-family: "Poppins", sans-serif;
  color: var(--neutral_n);
  background-color: #e5e5e5;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
}

/* Typography and Colors */
.neutral_n {
  color: var(--neutral_n);
}

.neutral_b {
  color: var(--neutral_b);
}

.primary_n {
  color: var(--primary_n);
}

.primary_b {
  color: var(--primary_b);
}

.dark_grey {
  color: #7a869a;
}

.light_grey {
  color: #c1c7d0;
}

.bg_white {
  background-color: #fff;
}

.white {
  color: #fff;
}

.logo {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.main_title {
  font-size: 40px;
  line-height: 52px;
  font-weight: 800;
}

.project_title {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.skills_title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #000;
}

.skill_name {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.descriptive_txt {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.project_info_txt {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
}

.contact_txt {
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  padding-bottom: 28px;
  text-align: center;
}

form input,
form textarea {
  color: #172b4d;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
}

textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.upper {
  text-transform: uppercase;
}

.fs_15 {
  font-size: 15px;
}

.fw_med {
  font-weight: 500;
}

.fw_bold {
  font-weight: 700;
}

.material-icons.small {
  font-size: 10px;
}

/* Buttons */
.btn {
  font-weight: 500;
  letter-spacing: 0.03em;
  border-radius: 8px;
  cursor: pointer;
}

.xs-transparent_btn {
  background-color: transparent;
  border: transparent;
  padding: 8px;
}

.action_btn {
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  animation: disappearing_bg 300ms cubic-bezier(1, 0.25, 1, 0.41) 300ms;
}

form ul li .action_btn {
  padding: 12px 16px;
}

.tag_btn {
  font-size: 12px;
  line-height: 16px;
  padding: 4px 12px;
  background-color: #ebebff;
  color: var(--primary_b);
}

.enabled {
  color: #396dfa;
  background-color: #fff;
  border: 1px solid var(--primary_b);
  transition: all 200ms ease-in-out;
}

.enabled:hover {
  color: #fff;
  background-color: var(--primary_b);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.enabled:active {
  color: #fff;
  background-color: #2230d2;
}

.action_btn.disabled {
  color: #5e6c84;
  background-color: #fff;
  border: 1px solid #c1c7d0;
}

/* Backgrounds */
.shapes_bg {
  background-image: url("./back-img/header-shapes-mobile@2x.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.contact-me_sect_bg {
  background-image: url("./back-img/contact_form_shapes-mobile@2x.svg");
  background-color: var(--primary_b);
  background-repeat: no-repeat;
  background-position: right 0 top 21px;
  background-size: auto;
}

/* Header layout  */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
}

nav {
  margin-right: 24px;
}
.nav {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  padding: 28px;
  background-color: rgba(96, 112, 255, 0.9);
  color: #fff;
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
}

.menu {
  animation: flex_play 600ms ease-out;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.btn_flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_flex_end {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
}

.logo_placeholder {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 4px;
}

.logo.xs-transparent_btn {
  padding: 10px 12px;
  animation: slide_reverse 1000ms ease-out;
}

/* main / headline section layout */
main {
  position: relative;
  top: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  border-bottom-left-radius: 85px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin: 30% auto 31% auto;
  padding: 0 24px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* Work section layout */
.works_section,
.about_section {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  gap: 88px;
  padding: 114px 24px;
}

.work_card {
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 0 auto;
  padding: 16px;
}

.work_card .img {
  background-color: #ebebff;
  height: 220px;
  width: auto;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  animation: scale 600ms ease-in-out;
}

.img:hover img {
  transform: scale(1.15, 1.15);
  box-shadow: 0 15px 10px rgba(64, 83, 252, 0.6),
    0 15px 10px rgba(235, 235, 255, 0.25),
    inset 0 5px 3px rgba(64, 83, 252, 0.6),
    inset 0 5px 3px rgba(235, 235, 255, 0.25);
  transition: all 400ms ease-in-out;
}

.card_details {
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 12px;
}

.project_details_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}

.card_details .project_title {
  padding-right: 2px;
}

.project_details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* About section layout */
.about_base {
  position: relative;
  border-top-right-radius: 85px;
}

.about_section {
  height: 90%;
  top: 0;
  gap: 24px;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.skills {
  display: grid;
  grid-template-columns: 100%;
}

.skill_frame {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 12px;
}

.separator {
  border-bottom: 1px solid #dfe1e6;
}

.expand_collapse {
  margin: 0 14px;
}

.skill_content {
  display: grid;
  grid-template-columns: 100%;
  gap: 12px;
  padding: 12px;
}

.skill_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #253858;
  background: #f7f7f9;
  border-radius: 8px;
}

.skill_item_icon {
  height: 48px;
  margin: 9px 16px 10px 12px;
}

/* Contact section layout */
.contact-me_section {
  position: relative;
  display: flex;
  justify-content: center;
  border-top-left-radius: 85px;
}

.contact-me_section .content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  max-width: 801px;
  margin-top: 13.8255033557%;
  padding: 24px;
  padding-bottom: 11px;
  position: relative;
  bottom: 0;
}

form {
  width: 100%;
  max-width: 447px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 15px 16px;
}

.contact_form input:hover,
.contact_form textarea:hover,
.contact_form input:focus,
.contact_form textarea:focus {
  background-color: #ebebff;
  transform: scale(1.1, 1.1);
}

/* ******************* *
   Animations
 * ******************* */

.card_details .descriptive_txt {
  animation: opacity_0-to-100 500ms ease-in 600ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.menu .xs-transparent_btn {
  animation: blink 600ms ease-out;
}

.project_info_txt,
.tag_btn,
.descriptive_txt.upper,
.social > * {
  animation: spin_vertical_axis 600ms ease-in-out 300ms;
}

.descriptive_txt.animate {
  animation: from-left 300ms ease-in 300ms;
  animation-fill-mode: forwards;
  transform: translateX(-400px);
  opacity: 0;
}

.contact_txt.animate {
  animation: from-up 300ms ease-in 300ms;
  animation-fill-mode: forwards;
  transform: translateY(-300px);
  opacity: 0;
}

.main_title,
.project_details_wrapper .project_title {
  animation: from-up_bounce 300ms cubic-bezier(1, 0.25, 1, 0.41);
  animation-fill-mode: forwards;
  transform: translateY(-40px);
  opacity: 0;
}

/* Used on Logo */
@keyframes slide_reverse {
  0% {
    transform: translateX(-100px);
  }

  50% {
    transform: translateX(70px) rotateY(180deg);
  }

  55% {
    transform: translateX(72px) rotateY(180deg);
  }

  65% {
    transform: translateX(75px) rotateY(180deg);
  }

  100% {
    transform: translateX(0);
  }
}

/* Used on Navigation layout */
@keyframes flex_play {
  0% {
    margin-right: 32px;
    gap: 32px;
  }
}

/* Used on Navigation buttons */
@keyframes blink {
  50% {
    border: 1px dotted var(--primary_n);
    border-radius: 10px;
  }

  98% {
    border: 1px dotted #7f8cff5d;
    border-radius: 10px;
  }

  100% {
    border: transparent;
  }
}

@keyframes spin_vertical_axis {
  100% {
    transform: rotateY(360deg);
  }
}

/* Used on Main Titles */
@keyframes from-up_bounce {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  40% {
    transform: translateY(-30px);
    opacity: 0.3;
  }

  80% {
    transform: translateY(30px);
    opacity: 0.9;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Used on Descriptive text in Headline and About sections */
@keyframes from-left {
  0% {
    transform: translateX(-400px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Used on descriptive text in Contact-me section */
@keyframes from-up {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Used on Projects (cards) descriptive text */
@keyframes opacity_0-to-100 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Used on Action buttons */
@keyframes disappearing_bg {
  0% {
    color: #fff;
    background-color: var(--primary_b);
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  }

  70% {
    color: var(--neutral_n);
    background-color: #6070ff59;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  }

  100% {
    color: #396dfa;
    background-color: #fff;
    box-shadow: none;
  }
}

/* Used on project card images */
@keyframes scale {
  50% {
    transform: scale(1.2, 1.2);
    box-shadow: 0 15px 15px rgba(64, 83, 252, 0.6),
      0 15px 15px rgba(235, 235, 255, 0.3),
      inset 0 5px 5px rgba(64, 83, 252, 0.6),
      inset 0 5px 5px rgba(235, 235, 255, 0.3);
  }
}

/* ------ Media queries ------ */
@media only screen and (min-width: 992px) {
  /* Backgrounds */
  .shapes_bg {
    background-image: url("./back-img/desktop-main-bg@2x.svg");
    background-size: 90%;
  }

  .contact-me_sect_bg {
    background-image: url("./back-img/contact_background_shapes@2x.svg");
    background-position: center;
    background-size: 90%;
  }

  /* Media queries for Header */
  header {
    height: 72px;
    padding: 0 9.86%;
  }

  .menu_btn {
    display: none;
  }

  nav {
    margin-right: 24px;
    height: auto;
    width: auto;
    position: unset;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
  }

  .menu {
    /* position: unset;
    height: auto;
    width: auto;
    background-color: transparent; */
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
  }

  nav .btn {
    letter-spacing: 0;
    border-radius: 0;
    font-size: 15px;
    line-height: 20px;
    color: var(--neutral_n);
  }

  .xs-transparent_btn {
    padding: 10px 12px;
  }

  /* Media queries for Headline Section */
  main {
    height: auto;
    top: 72px;
  }

  .headline {
    width: 64vw;
    max-width: 920px;
    margin: auto auto;
    padding: 259px 0 245px 0;
  }

  .headline .main_title {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
  }

  .headline .main-desc {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }

  /* Media queries for Work Section */
  .works_section {
    padding: 142px 0;
  }

  .works_section article:nth-child(even) {
    flex-direction: row-reverse;
  }

  .work_card {
    width: 80.277777777778%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 22px;
    padding: 24px 22px;
  }

  .work_card .img {
    width: 50%;
    height: 100%;
  }

  .card_details {
    width: 50%;
    max-width: none;
    gap: 24px;
    padding: 24px;
  }

  .project_title {
    font-size: 40px;
    line-height: 52px;
  }

  .project_info_txt {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .upper {
    font-weight: 500;
  }

  .descriptive_txt {
    font-size: 16px;
  }

  /* Media queries for About Section */
  .about_section {
    width: 80.277778%;
    grid-template-columns: 38.66782% 59.16955%;
    gap: 25px;
    margin: 0 auto;
  }

  .skills {
    padding: 12px;
  }

  .skill_frame {
    padding: 0 24px;
  }

  .skill_content {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }

  .skill_item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px;
    gap: 16px;
  }

  .skill_item_icon {
    margin: 0;
  }

  .top .main_title {
    font-weight: 700;
  }

  /* Media queries for Contact-me Section */
  .contact-me_section {
    align-content: center;
  }

  .contact-me_section .content_wrapper {
    width: 55.625%;
    margin: auto auto;
    padding: 0;
  }

  .contact_txt {
    padding: 14px 14.481897628%;
    padding-top: 0;
  }

  .contact_form {
    gap: 27px;
  }

  .contact_form li {
    margin: 0;
  }

  .submit_btn {
    align-self: center;
  }

  form ul li .action_btn {
    margin: 0;
  }
}
